
<h2>Register</h2>
<form method="POST" action="/register">
    <input name="username" placeholder="Username" required>
    <input name="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <button>Register</button>
</form>

<h2>
    Already have an account? 
    <a href="/log/:login">Login here</a>
</h2>