<a href="/" class="return">Back to Friends</a></p>

<ul class="searchResultsUL">
  <% if (results.length > 0) { %>
    <% results.forEach(result => { %>
      <div class="searchResultsDIV">
      <a href="/friendReq/<%= result.email %>">
          <strong><%= result.name %></strong>
          <p><%= result.email %></p>
      </a>
      </div>
    <% }) %>
  <% } else { %>
    <strong>No Results</strong>
  <% } %>
  </li>
</ul>